.benefits-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 14rem;
    padding: 3rem 1.6rem 1.6rem 2.4rem;
    border: 3px solid $border-color;
    border-radius: 16px;

    &__title {
        font-family: $Ubuntu-Medium;
        font-size: 1.4rem;
        line-height: 1.35;
    }

    &__icon-wrapper {
        height: 2.6rem;
        margin-bottom: 2rem;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -0.2rem;
            left: 1.2rem;
            width: 1.9rem;
            height: 1.9rem;
            border-radius: 50%;
            background-color: $color-may-green;
            opacity: 0.7;
        }
    }

    &__icon {
        width: 3rem;
        position: relative;
    }
}