.language {

    &__btn {
        display: flex;
        align-items: center;
        gap: 0.7rem;
        padding: 0;

        &:hover {
            .language__btn-icon {
                fill: $color-apple;
            }
        }
    }

    &__img {

    }

    &__btn-icon {
        fill: $color-black;
        transition: all .3s ease-in-out;
    }
}