.navigation {
    @include breakpoint($mobile-width) {
        display: none;
    }
    
    &__list {
        display: flex;
        gap: 5.3rem;
    }

    &__list-item {

    }

    &__list-link {
        font-size: 1.3rem;
        transition: all .3s ease-in-out;

        &:hover {
            color: $color-apple;
        }
    }
}