.navigation {
    display: flex;
    align-items: center;
    gap: 3.5rem;
    
    &__list {
        display: flex;
        align-items: center;
        gap: 5.3rem;

        @include breakpoint($mobile-width) {
            display: none;
        }
    }

    &__list-link {
        font-size: 1.3rem;
        transition: all .3s ease-in-out;

        &:hover {
            color: $color-apple;
        }
    }
}