.section {
    padding-top: 14.5rem;
    padding-bottom: 5rem;  
    background-color: $color-white;
    position: relative;
    overflow: hidden;

    @include breakpoint($tablet-width) {
        padding-top: 10rem;
    }

    @include breakpoint($mobile-width) {
        padding-top: 5rem;
    }

    &__title {
        font-family: $Gramatika-Black;
        font-size: 16.8rem;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: -2px;
        color: rgba(210, 210, 210, 0.34);
        position: absolute;
        top: 2rem;

        @include breakpoint($tablet-width) {
            font-size: 11rem;
            top: 4rem;
        }

        @include breakpoint($mobile-width) {
            display: none;
        }


        &--right {
            right: -2vw;
        }

        &--left {
            left: 0;
        }

        &--center {
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
        }
    }

    &__subtitle {
        margin-bottom: 4.8rem;
        font-family: $Sk-Modernist-Regular;
        font-size: 3.2rem;
        line-height: 1;
        text-align: center;

        @include breakpoint($mobile-width) {
            margin-bottom: 2.4rem;
            font-size: 2.4rem;
        }
    }
}