.team-card {
    padding: 2.2rem;
    border: 3px solid $border-color;
    border-radius: 16px;

    &__img {
        margin-bottom: 2.4rem;
        border: 2px solid $color-cultured;
        border-radius: 50%;
    }

    &__name {
        margin-bottom: 1.4rem;
        font-family: $Ubuntu-Medium;
        font-size: 1.6rem;
        line-height: 1;
    }

    &__position {
        margin-bottom: 1rem;
        font-size: 1.4rem;
        line-height: 1.5;
        color: $color-philippine-silver;
    }

    &__description {
        font-size: 1.4rem;
        line-height: 1.5;
        letter-spacing: 0.01rem;
    }
}